<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Sistema de cadastro Imobiliário</title>
        <link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

	<!-- Stylesheets -->
	    <link rel="stylesheet" href="css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
	    <link rel="stylesheet" href="css/animate.css"/>
	    <link rel="stylesheet" href="css/owl.carousel.css"/>
	    <link rel="stylesheet" href="css/style.css"/>
        <script src="js/bootstrap.js"></script>
    </head>

        <body>
            {{{body}}}
        </body>

</html>