<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							(+55) 19 3394-1995
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							contato@housefinder.com.br
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
						</div>
						<div class="user-panel">
							<a href="/cadastro"><i class="fa fa-user-circle-o"></i> Cadastre-se</a>
							<a href="/login"><i class="fa fa-sign-in"></i> Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="site-navbar">
						<a href="#" class="site-logo"><img src="img/logo.png" alt=""></a>
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
						<ul class="main-menu">
							<li><a href="/home">Home</a></li>
							<li><a href="/quem-somos">Quem  somos</a></li>
							<li><a href="/produtos-e-servicos">Produtos e Serviços</a></li>
							<li><a href="single-list.html">Imóveis</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contato</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="img/bg.jpg">
		<div class="container hero-text text-white">
		<h2>
				Como funcionam nossos serviços?
			</h2>
			<p>
				Há dois modos de utilizar de nossos serviços, cadastrando seu imóvel para criar anúncios ou buscando o imóvel ideal para
				ser seu lar.
			</p>
			<h3 style="text-align: left;">
				CRIANDO SEU ANÚNCIO
			</h3>
			<p style="text-align: left;">
				Para criar um anúncio, primeiro é necessário criar uma conta no House Finder. Após criar uma conta você poderá acessar o painel
				de controle de conta onde poderá acessar a página de anúncios e criar quantos quiser.
			</p>
			<h3 style="text-align: left;">
				BUSCANDO PELO IMÓVEL IDEAL
			</h3>
			<p style="text-align: left;">
				Para encontrar o imóvel ideial você precisa procurar na barra de pesquisa, configurando os filtros de Estado e Cidade que deseja
				encontrar o imóvel desejado.
			</p>
		</div>
	</section>
	<!-- Hero section end -->


<!-- Filter form section -->
	<div class="filter-search">
		<div class="container">
			<form class="filter-form">
				<input type="text" placeholder="Pesquise pelo nome da rua, bairro ou cidade">
				<select>
					<option value="Tipo-de-negocio">Tipo de Negócio</option>
					<option value="Tipo-de-negocio">Alugar</option>
					<option value="Tipo-de-negocio">Comprar</option>
				</select>
				<select>
					<option value="Tipo-de-Imovel">Tipo de Imóvel</option>
					<option value="Tipo-de-Imovel">Apartamentos</option>
					<option value="Tipo-de-Imovel">Casas</option>
					<option value="Tipo-de-Imovel">Condôminios</option>
					<option value="Tipo-de-Imovel">Comércio</option>
					<option value="Tipo-de-Imovel">Galpão Industrial</option>
					<option value="Tipo-de-Imovel">Salas Comerciais</option>
				</select>
				<button class="site-btn fs-submit">Pesquisar</button>
			</form>
		</div>
	</div>
	<!-- Filter form section end -->

<!-- Services section -->
	<section class="services-section spad set-bg" data-setbg="img/service-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<iframe width="600" height="315" src="https://www.youtube.com/embed/iINugTN8s84" 
	frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
	allowfullscreen></iframe>
				</div>
				<div class="col-lg-5 offset-lg-1 pl-lg-0">
					<div class="section-title text-white">
						<h3>NOSSOS SERVIÇOS</h3>
						<p>Provemos para você os seguintes serviços: </p>
					</div>
					<div class="services">
						<div class="service-item">
							<i class="fa fa-comments"></i>
							<div class="service-text">
								<h5>Consultoria</h5>
								<p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
							</div>
						</div>
						<div class="service-item">
							<i class="fa fa-home"></i>
							<div class="service-text">
								<h5>Venda e Compra</h5>
								<p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
							</div>
						</div>
						<div class="service-item">
							<i class="fa fa-briefcase"></i>
							<div class="service-text">
								<h5>Alugar e Locar</h5>
								<p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	<!-- Footer section -->
	<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-widget">
					<img src="img/logo.png" alt="">
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="contact-widget">
						<h5 class="fw-title">Entre em contato conosco</h5>
						<p><i class="fa fa-map-marker"></i>Avenida Paulista, Edifício Edgviges 1745, Centro - São Paulo </p>
						<p><i class="fa fa-phone"></i>(+55) 19 3394-1995</p>
						<p><i class="fa fa-envelope"></i>contato@housefinder.com.br</p>
						<p><i class="fa fa-clock-o"></i>Seg - Sex 07:00 - 19:00</p>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-nav">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Quem Somos</a></li>
						<li><a href="">Produtos e Serviços</a></li>
						<li><a href="">Imóveis</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Contato</a></li>
					</ul>
				</div>
				<div class="copyright">
					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
                                        
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
